---
layout: default
---

<p>
    Greetings Guardian,
</p>

<p>
    Thanks for the interest in our clan, to give you a little background on the clan, we are a clan that
    really formed in April of 2020, but a large portion of the group have been in the same clan for
    basically the duration of Destiny overall. We have several families that are in the clan, and many
    members that know each other very well.
</p>

<p>
    That said, we are always looking to add to the group and are truly trying to build a cohesive clan
    that lends a hand to each other and most importantly form healthy and fun activities for
    everyone involved. Hence, we are trying to ensure that people that join the clan fit our outlook of
    what the clan hopes to be and that joining activities with any clanmate is going to be a positive
    experience.
</p>

<h3>Clan Values:</h3>
We ARE (and hope you will be):
<ul>
    <lh></lh>
    <li>Chill but determined</li>
    <li>Interested in meeting new people</li>
    <li>Inclusive</li>
    <li>Fairly active in Destiny 2</li>
    <li>Interested in raids, nightfalls, other PVE things, crucible (sixes, comp, trials)</li>
    <li>Adaptable to different groups of people (we have women and adolescents in the clan)</li>
</ul>

We are NOT into:
<ul>
    <li>Rage quitting</li>
    <li>Blaming others for team failures</li>
    <li>Disrespect to women, other races, cultures, or ages</li>
    <li>Cheating</li>
    <li>Participating in bannable offenses</li>
</ul>

To join AQ there are three ways:
<ol>
    <li>If you’re a family member or friend of a clanmate, just message a clan admin!</li>
    <li>Join some of our 100 lfg games and see if we are a good fit!</li>
    <li>Or you can message an admin and come play with us to see what we are about! Feel free to
    message us on discord or PSN.</li>
</ol>
    
<p>
    Clan entry is probationary for one month just to give you, and us, time to make sure it’s a good
    fit for everyone.
</p>

<p>
    We are glad you are interested and look forward to gaming with you!
</p>

<p>
    Clan admins: Pack93z, MisterNapkinFace, DeadMary. 
</p>
    

Links to our pages:
<ul>
    <li><a href="https://www.bungie.net/en/ClanV2?groupid=3165898" target="_blank">Bungie Clan Site</a></li>
    <li><a href="https://www.the100.io/groups/v2/61039" target="_blank">Our 100.io Page</a></li>
    <li><a href="https://discord.com/invite/wtdfWH9" target="_blank">Our Discord Page</a></li>
    <li><a href="https://acequeen.io/">Our helpful resource page</a></li>
</ul>